html {
    font-family: helvetica, arial, sans-serif;
    background: slategray;
    text-align: center;
}
head {
     display: none;
}

main {
    display: block;
}

.elements{
    max-width: 1400;
    margin: 0 auto;
}

body {
    font-size: 100%;
    font-family: helvetica, arial, sans-serif;
    display: block;
}
h1{
    font-size: 3em;
    margin-top: 30px;
    color:azure;
}
#elements {
   display: block;
}
.row {
    display: flex;
    text-align: center;
}
.content {
    background-color: antiquewhite;
    display: flex;
    float: left;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    color: black;
    border-radius: 2px;
    margin: 1px;
    width: 5.40%;
}

.empty {
    background: transparent;
    background-color: slategray;
    display: flex;
    float: left;
    flex: auto;
    border: none;
    text-decoration: none;
    width: 5.53%;
}

#symbol {
    font-size: 18px;
    text-align: center;
}

#number {
    color: azure;
    font-size: 8px;
    position: relative;
    text-align-last: center;
    top: 20px;
    right: 13px;
}

name {
    color: azure;
    font-size: 4px;
}
